@model IEnumerable<AppTaxi2020.Web.Data.Entities.TaxiEntity>

@{
    ViewData["Title"] = "Index";
}



<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
<br />


<p>
    <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create New</a>
</p>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                Taxis
            </div>
            <div class="card-body">

                <table id="example" class="table table-hover  table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Plaque)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Plaque)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" title="Details" class="btn btn-info"><i class="glyphicon glyphicon glyphicon-align-justify"></i></a>
                                    <button data-id="@item.Id" title="Delete" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>



<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#example').DataTable();
            
            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Taxis/Delete/', false);


        });
    </script>

}





